/* styling for whole page */

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: #b5895e;  /* custom highlight color */
  color: #fff;          /* text color while highlighted */
}

section {
  max-width: auto;
  width: 100%;
  margin: 0 auto;
  padding: 60px 20px;
}

/* Global style for all section titles */
.sectionTitle {
  display: inline-block;
  border-bottom: 2.5px solid #333;
  padding-bottom: 4px;
  margin: 0 0 40px 0; /* only bottom margin */
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}
