.body {
    font-family: "Inter";
    background-color:#e6d1bc;
    padding: 60px 20px 20px; /* top padding = navbar height */
    text-align: center;
    min-height: 100vh;
    scroll-margin-top: 90px;
    margin-top: 15px; /* adjust to taste */

    /* add fade between sections */
    background: linear-gradient(to bottom, #e6d1bc, #f5f7f7e0);
    
}

.arrow {
  font-size: 2rem; /* size of the arrow */
  margin-top: 200px; /* spacing from title */
  color: black; /* arrow color */
}
